.x_panel
  .x_title
    %h2 Editing a service
    .clearfix
  .x_content
    %p
      Here you can change service properties, including its name, URI and ownership.
    %p
      Users flagged as owners will be able to manage the service, edit its properties and de-register it.