.x_panel
  .x_title
    %h2 EurValve services
    .clearfix
  .x_content
    %p
      This panel presents a list of services available to you. Each service is described by a name and a URI
      where it exposes its endpoints. Services encapsulate the computational logic of EurValve. Access to services
      is managed on the basis of security policies, which can be defined for each service separately.
    %p
      You can add a new service by clicking the
      %b Register a new service
      button. You can also review existing services by clicking their names.
    %p
      Management actions are available to service owners - if you are the owner of a service, the system will display
      action buttons enabling you to edit that service's properties or de-register it as appropriate.
      Additionally, as Service owner, you can request a
      %b service secret token
      for the remote API access, by clicking on the Service's name.
