.x_panel
  .x_title
    %h2 Registering a service
    .clearfix
  .x_content
    %p
      To register a service, you must provide a unique name and a URI.
    %p
      Once you register a service, you automatically become its owner and will be able to manage its properties.