%tr
  %td= service.name
  %td= service.uri
  %td
    = link_to(service_path(service), title: t('.remove_title'),
        method: :delete,
        class: 'delete',
        data: { confirm: t("are_you_sure") }) do
      = icon("remove")
