.x_panel
  .x_title
    %h2 Service properties
    .clearfix
  .x_content
    %p
      This view presents the properties of a service, including its name, URI, owners, security policies and
      access methods.
    %p
      The
      %b Service secret token
      field displays the authorization token which must be presented in request headers when accessing the service.