.x_panel
  .x_title
    %h2 Editing policy details
    .clearfix
  .x_content
    %p
      Here you can edit the name of the global policy and the associated service path.
      The path attibute can contain a wildcard character at the end to match any path part
      (e.g. http://host.com/path/*).
