.x_panel
  .x_title
    %h2 Global policies
    .clearfix
  .x_content
    %p
      This is a list of global security policies defined for the service. You can manage existing policies or add
      a new policy by clicking the
      %b Add new global policy
      button.
    %p
      Global policies restrict access to the service to selected users or user groups. They can only be defined and
      managed by service owners.