.x_panel
  .x_title
    %h2 Creating a new global policy
    .clearfix
  .x_content
    %p
      To create a new global policy for the whole service or for one of its resources, you need to specify
      the policy name and path. The path attribute is appended to the service URI (e.g.
      %b http://my.service.com/path
      ) and restricts the applicability of this policy to the given path.
      The path attibute can contain a wildcard character at the end to match any path part
      (e.g. http://my.service.com/path/*).
