.x_panel
  .x_title
    %h2 Policy management window
    .clearfix
  .x_content
    %p
      You can create individual access rules for this policy by selecting users or user groups and
      specifying which access methods are to be made available to these users (or groups). Access methods offered
      by the service are defined in the service properties window - they may include standard REST methods such as
      %b GET, POST, DELETE
      etc., or more sophisticated methods tailored to your service.
