=content_for :head do
  %script{src: 'clew/clew.nocache.js'}

:javascript
  var ClewOverrides = {
    cloudFacadeUrl: 'http://localhost:3040/api/v1/',
    jwtToken: '#{current_user.token}',
    username: '#{current_user.name}',
    roles: ['developer']
  }
#clewContainer