=content_for :head do
  %script{src: 'clew/clew.nocache.js'}

:javascript
  var ClewOverrides = {
    cloudFacadeUrl: '#{Rails.configuration.cloud_facade_url}',
    jwtToken: '#{current_user.token}',
    username: '#{current_user.email}',
    roles: ['developer']
  }
#clewContainer