.x_panel
  .x_title
    %h2 Editing a group
    .clearfix
  .x_content
    %p
      Here you can change group properties, including its name, membership and nesting status.
    %p
      Note that groups may be included in other groups, forming a treelike hierarchy. To include this group in
      another group, click the
      %b Directly included group
      textbox and select the group you want. All members of this group will then be treated as members of the
      parent group for the purposes of request authorization.
    %p
      You can ensure that all newly created user accounts are automatically assigned to this group by clicking the
      checkbox provided.