.x_panel
  .x_title
    %h2 User groups
    .clearfix
  .x_content
    %p
      This panel presents a list of user groups which have been defined in the system. User groups are an important
      component of the EurValve security infrastructure: some requests and operations may be restricted to members
      of a specific group.
    %p
      You can add a new group by clicking the
      %b Register a new group
      button. You can also review properties of existing groups by clicking their names.
    %p
      Management actions are available to group owners - if you are the owner of a group, the system will display
      action buttons enabling you to edit that group's properties or delete it entirely.