.x_panel
  .x_title
    %h2 Creating a group
    .clearfix
  .x_content
    %p
      To create a group, you must provide a unique name and a preliminary list of members.
    %p
      Members flagged as "owners" will be allowed to manage the group and change its properties.
    %p
      Note that groups may be included in other groups, forming a treelike hierarchy. To include this group in
      another group, click the
      %b Directly included group
      textbox and select the group you want. All members of this group will then be treated as members of the
      parent group for the purposes of request authorization.
    %p
      You can ensure that all newly created user accounts are automatically assigned to this group by clicking the
      checkbox provided.