.x_panel
  .x_title
    %h2 Group management panel
    .clearfix
  .x_content
    %p
      This is the group management panel where you can edit the properties of your groups. A group
      must have a name and may consist of multiple users. Assigning users to groups is important from
      the point of view of resource sharing (as resources can be shared with groups).
    %p
      Use the action buttons displayed in the title bar to edit group properties, remove the group altogether
      or navigate back to the group selection screen.