#pipelines.row{ data: { patient: patient.case_number } }
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('.pipelines')
        %span.pull-right
          = link_to t('.new'), new_patient_pipeline_path(patient),
            class: 'btn btn-success', data: { turbolinks: false }
        .clearfix
      .x_content
        %section.content
          - if pipelines.size > 1
            = render partial: 'patients/pipelines/tab_compare',
                     locals: { pipelines: pipelines, patient: patient }
          - else
            = render partial: 'patients/pipelines/tab',
                     locals: { pipelines: pipelines }
