%tr{ data: { refresh: computation.active?.to_s, url: computation_path(computation) }}
  %td= t 'computation.computation_type.blood_flow_simulation'
  %td= l(computation.created_at, format: :short)
  %td= execution_time(computation)
  %td= computation_status(computation.status)
