- if patient.data_files.blank?
  .alert.alert-info= t 'patients.show.nothing'

- else
  = render partial: 'file_store/file_browser',
           locals: { target_path: FileStore.patients_path + patient.case_number }
