%br
.x_panel
  .x_title
    %h2
      = patient.case_number
      %small= t '.subtitle'
    %span.pull-right
      = link_to t('.remove'), patient_path(patient), method: :delete,
        data: { confirm: t('.confirm') }, class: 'btn btn-sm btn-danger'
      = link_to t('.back'), patients_path, class: 'btn btn-sm btn-primary'
    .clearfix
  // ****REMOVED FOR NOW, NEEDS TO BE REPLACED WITH SOME PROJECT DETAILS IF ANYTHING*****//
  / .x_content{ data: { 'patient-details' => patient_path(@patient) } }
  /   %center
  /     = icon 'spinner', class: 'fa-spin'
  /     = t('.loading_patient_details')
