= render('patients/show', patient: @patient, details: @details) if platform_type == 'eurvalve'
= render('patients/pipelines/list', patient: @patient, pipelines: @pipelines)
= render('patients/file_browsers', patient: @patient)
