.x_panel
  .x_title
    %h2 EurValve web resources
    .clearfix
  .x_content
    %p
      This panel presents a list of available web resources. A web resource may be an arbitrary object (usually
      a data file) which is available under a specific URI. Web resources may have associated security policies
      which define who and when can access the given resource.