%ul#computations.nav.nav-tabs.tabs-left
  - computations.each do |c|
    %li{class: [c == computation && 'active']}
      = link_to patient_pipeline_computation_path(patient, pipeline, c),
        data: { turbolinks: false } do
        = run_status(c)
        = t(".#{c.pipeline_step}")
