= render 'patients/pipelines/show', patient: @patient, pipeline: @pipeline do
  = render 'patients/pipelines/computations/show',
    patient: @patient, pipeline: @pipeline,
    computation: @computation, computations: @computations
