/*
 *= require_self
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "icheck/flat/green";

@import "animate";

.aaa-background {
  background: #F7F7F7;
}

.fixed_nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body.nav-md .container.body .left_col {
  position: fixed;
  height: 100%;
}

.top_nav .flash-container {
  float: left;
  padding-top: 20px;
}
