/*
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require_tree ./gentelella
 *= require_tree ../../../vendor/assets/stylesheets/.
 */
@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "icheck/flat/green";

@import "animate";

@import "common";
@import "logo";
@import "patients";

.aaa-background {
  background: #F7F7F7;
}

.fixed_nav_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

body.nav-md .container.body .left_col {
  position: fixed;
  height: 100%;
}

.flash-container {
  text-align: center;
}

table.users th, table.users td {
  width: 25%;
}

.new-icon, .new-icon:hover {
  color: green;
}

.form-group span.radio {
  display: inline-block;
}

form#new_acccess_policy span.label {
  display: inline-block;
}

.fa-white {
  color: white;
}

table.access_policies th, table.access_policies td {
  width: 50%;
}

.has-error .control-label, .has-error .radio {
  color: #73879C;
}

.has-error .form-control {
  background: #FAEDEC;
  border: 1px solid #E85445;
}
