.tile-stats:hover a {
  text-decoration: none  !important;
}

.tile-stats.tile-new-patient a {
  color: whitesmoke;
}

th {
  &.iid {
    width: 40px;
  }

  &.select {
    width: 10px;
  }
}

.owner-label {
  vertical-align: bottom;
}

.off-viewer-header {
	margin: 10px 0px;
}

.off-viewer-header .off-header-left {
	color: red;
	float: left;
}

.off-viewer-header .off-header-right {
	color: green;
	float: right;
}
