#pipelines.row{ data: { project: project.project_name } }
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2= t('.title')
        %span.pull-right
          = link_to t('.new'), new_project_pipeline_path(project),
            class: 'btn btn-success', data: { turbolinks: false }
        .clearfix
      .x_content
        %section.content
          = render partial: 'projects/pipelines/tab',
                   locals: { pipelines: pipelines }
