- unless flash.empty?
  %script(type='text/javascript')
    - flash.each do |f|
      - flash_type = f[0] == 'notice' ? 'success' : 'error'
      jQuery(document).ready(function() { toastr['#{flash_type}']('#{f[1]}'); });
