- if require_new_proxy?
  :javascript
    $(document).ready(function() {
      toastr.error('<strong>#{t('warning')}</strong> #{t('.outdated')} #{link_to(t('.new_proxy'), user_open_id_omniauth_authorize_path)}', '',
        {timeOut: 0, extendedTimeOut: 0, tapToDismiss: false})
        .css('width', '50%')
    })
