.x_panel
  .x_title
    %h2 Local policies
    .clearfix
  .x_content
    %p
      This is a list of local security policies defined for the service.
      Local policies can be managed through the Vapor API (see the
      %b Help/Resource policies
      section in the left-hand panel) or by the service owner.
    %p
      Local policies are intended to be controlled directly by the service
      using REST API. In emergency situation service owner is also able to manage
      local policies but it should be made with care, since it can destroy service
      permissions system.
