.x_panel
  .x_title
    %h2 Local policies
    .clearfix
  .x_content
    %p
      This is a list of local security policies defined for the service. Local policies can only be managed through the
      Vapor API (see the
      %b Help/Resource policies
      section in the left-hand panel) and are intended to be controlled directly by the service.